/* CSS declarations go here */
html{
background:rgb(22, 56, 119); 
    
    
    
}


body {
    font-family: Futura;
    background:transparent;
    color: #CCCCCC
}

#notEnoughCredits{
    
 color:black;   
    
}
#reassessmentCreditsBar{
    
 color:rgb(100,100,100);
 margin: 10px;
    
}
.darkText{
    
    color:rgb(100,100,100);
    
}

#addSurvey{
    
 margin:20px;
 padding:10px;
    
}

.addSurveyQuestionText{
    
 width:400px;


}

#surveyContainer{
    
 margin:20px;
 padding:10px;
 border: 1px white solid;
 border-radius: 5px;

    
    
}

.surveyQuestionTextArea{
    
 width:200px;   
    
    
}