/* CSS declarations go here */
html{
background:rgb(22, 56, 119); 
  
    
    
}

body {
    margin:20px;
    font-family: Futura;
    background:transparent;
    color: #CCCCCC;
    width:90%;
}

#notEnoughCredits{
    
 color:black;   
    
}
#reassessmentCreditsBar{
    
 color:rgb(100,100,100);
 margin: 10px;
    
}
.darkText{
    
    color:rgb(100,100,100);
    
}
<<<<<<< HEAD
.reassessmentButtons{
    
 width:50%;   
    
}
.reassessmentButtonsAdmin{
    
 width:30%;
 margin:3px;
    
}

.reassessmentItem{
    
 border: solid 1px white;
 border-radius:5px;
 margin: 5px;
 
    
}

.userInfoItem{
border: solid 1px white;
 border-radius:5px;
 margin: 5px; 
    
    
}


#myBet{
    
 width:60%;
 font-size: 12px;
    
}

#announcementText{
 
    width:60%;
    
}
#reviewStandardText{
    
 width:20%px;   
}
#reviewURL{
    
 width: 80%;   
    
}

.post{
    
 background-color: #DDD;
 color: #000;
    
}

.reviewCode{
    
color:#DDD    
    
}

#reassessmentsTotal{
    
 float:left; 
 margin-left:10px;
 margin-top:10px;
    
}

#yourReassessmentsTotal{
 margin-left:10px;  
 margin-top:10px;
 float:left;    
    
}
.new{
    
 font-size:0.6em;
 color:red;
 margin-right:5px;

    
}

#standardsTable{
width:50%;
border: white solid 1px;
    
}

table{
width:80%;    
    
}

#viewStandardInformation{
width:80%;
margin-left:auto;
margin-right:auto;
border: 1px solid #CCC;
border-radius:4px;
padding:8px;
}
#submitLinkHiddenInformation{
 display:none;    
}

.standardsLinkInformation{
height:20px;
background:#CCC;
color:black;
border-radius:5px;
}



#loginDiv{
margin-top:10px;    
    
}

.row{
    
 margin:5px;   
=======

#addSurvey{
    
 margin:20px;
 padding:10px;
    
}

.addSurveyQuestionText{
    
 width:400px;


}

#surveyContainer{
    
 margin:20px;
 padding:10px;
 border: 1px white solid;
 border-radius: 5px;

    
    
}

.surveyQuestionTextArea{
    
 width:200px;   
>>>>>>> 2d08cdac06c80a007f551d7d93f2b6672ebe6a7e
    
    
}