/* CSS declarations go here */
html{
background:rgb(22, 56, 119); 
    
    
    
}


body {
    font-family: Futura;
    background:transparent;
    color: #CCCCCC
}

#notEnoughCredits{
    
 color:black;   
    
}
#reassessmentCreditsBar{
    
 color:rgb(100,100,100);
 margin: 10px;
    
}
.darkText{
    
    color:rgb(100,100,100);
    
}